input {
  @extend .form-control;
}


textarea {
  height: cl(85px, 75px);
  background: $input-bg;
  color: $input-color;
  border-color: $input-border-color;
  border-radius: $input-border-radius;

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: $input-placeholder-color;
  }
}
#contact-form {

  h2 {
    color: white !important;
    margin-bottom: cl(20px, 82px);
  }

  .form-logo {
    margin-bottom: cl(20px, 30px);
  }

  textarea {
    //margin-bottom: cl(10px, 70px);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  form {
    max-width: 932px;
    @extend .mx-auto;
    p {
      @extend .mb-0;
    }
  }

  .form-control, .search-form .search-field, input {
    height: auto;
  }
  input:not([type=submit]), textarea, select {
    padding-left: 20px;
    padding-right: 20px;
  }

  input:not([type=submit]), select {
    padding-top: 10px;
    padding-bottom: 10px;

  }

  form div[class^="col"]{
    margin-bottom: 25px;
  }
  input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
    //@extend .mt-0;

  }

  .wpcf7-not-valid-tip {
    text-align: left;
    padding-top: 5px;
  }
}


