.search-wrapper {
  background: rgba(theme-color(primary), 0.99);
  top: 100%;
  width: 100%;
  transition: 250ms all ease-in-out;
  z-index: 1;
  @extend .position-absolute;

  .search-form > label {
    flex: 1 0 auto;
  }

  .search-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @extend .w-100;
  }

  .search-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.close {
    z-index: -1;
    transform: translateY(-100%);
  }
}


/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
