.slide {
  @extend .d-flex;
  @extend .justify-content-center;
  .slide-content {
    @extend .container;
    @extend .position-absolute;
    @extend .align-items-center;
    @extend .h-100;
    @extend .w-100;
    @extend .d-flex;
    top:0;
  }
}


.slick-dots {
  bottom: 4% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}


.slick-slider {
  overflow: hidden;
}

.slick-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
