
.text_image_featured, .text_featured, .hero {
  padding: cl(30px, 70px) 0;
}

.image_featured .content {
  padding: cl(45px, 65px);
  @include media-breakpoint-up(lg) {
    max-width: 750px;
  }
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  > .row {
    @extend .justify-content-center;
  }
}

.image_featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header, footer {
  .container-fluid {
    max-width: 1450px;
  }
}

footer .brand img {
  max-width: 240px;
}

@include media-breakpoint-down(md) {
  .text_image_featured img {
    width: 100%;
    object-fit: cover;
    object-position: 0 10%;
    max-height: clamp(300px, 550px, calc(550 / (768 / 100) * 1vw));
    margin-bottom: 20px;
  }

}


.reveal {
  opacity: 0;
  transform: translate3d(0, 1.125rem, 0);
}

.revealed {
  transition: opacity 750ms ease, transform 750ms ease;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
