
.nav-secondary a {
  font-size: cl(13px, 17px);
  font-weight: 500;
  border: 1px solid rgba(theme-color(gray), 0.3);
  border-radius: 30px;
  line-height: 21px;
  @extend .px-4;
  @extend .text-uppercase;
}

#search-toggle {
  @extend .p-2;
  font-size: 23px;
  &:hover {
    cursor: pointer;
  }
}

.btn {
  font-weight: 700;
  border: 1px solid rgba(theme-color(gray), 0.3);
  border-radius: 0;
  border: 1px solid transparent;
  padding: cl(6px, 13px) cl(13px, 25px);
  margin-top: cl(16px, 16px);
}

.btn-primary {
  color: #fff;
}

p {
  font-size: cl(16px, 16px);
  line-height: cl(24px, 24px);
  font-weight: 400;
  color: #000;
}

.btn {
  font-size: cl(13px, 16px);
  line-height: cl(20px, 20px);
  font-weight: 600;
}

h1, .h1 {
  font-size: cl(25px, 70px);
  line-height: cl(30px, 75px);
  font-weight: 600;
  color: theme-color(secondary);
}

h2, .h2 {
  font-size: cl(25px, 48px);
  line-height: cl(30px, 60px);
  font-weight: 600;
  color: theme-color(secondary);
}

h3, .h3 {
  font-size: cl(25px, 44px);
  line-height: cl(30px, 50px);
  font-weight: 600;
  color: theme-color(secondary);
}

footer a {
  font-size: cl(12px, 14px);
  line-height: cl(30px, 30px);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

input, textarea, select, option {
  font-size: cl(13px, 16px);
  line-height: cl(24px, 24px);
  font-weight: 400;
}

footer .copyright p{
  font-size: cl(10px, 18px);
  line-height: cl(12px, 24px);
  font-weight: 500;
  color: #fff;
}

header {
  .nav-primary {
    a {
      font-size: 14px;
      line-height: 18px;
      color: theme-color(purple);
      text-transform: uppercase;
      font-weight: 800;
      transition: 250ms color ease-in;
      &:hover {
        color: theme-color(primary);
      }
    }
  }

  .secondary-nav {
    a {
      font-weight: 500;
      line-height: cl(18px, 18px);
      padding: 0.5rem 1rem;

      img {
        width: cl(15px, 38px);
      }
    }
  }
}

.btn {
  transition: 250ms all ease-in;
}

.btn-primary:hover {
  color: theme-color(purple);
}

.text_featured .h4, .text_featured .h6 {
  font-weight: 400;
}

.bg-purple, .bg-secondary {
  h1, h2, h3, h4, h5, h6 {
    color: theme-color(primary);
  }
  * {
    color: #fff;
  }
}

a {
  transition: 250ms all ease-in;
}

a:hover {
  text-decoration: none;
}

.secondary-nav {
  a {
    font-size: cl(14px, 18px);
  }
}
@include media-breakpoint-down(sm){
  .secondary-nav {
    a {
      font-size: 10px;
    }
  }
}
