@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #F3D557,
  secondary: #6AC3C4,
  purple: #52267A,
  gray: #ECF2F3,
  light: #F3F3F0
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1450px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);



$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$font-family-sans-serif: "Gilroy", sans-serif;

$h1-font-size: 70px;
$h2-font-size: 48px;
$h3-font-size: 44px;
//$h4-font-size: 30px;
//$h5-font-size: 25px;
//$h6-font-size: 20px;
$max-view-width: 1920px;
$paragraph-margin-bottom: 1.5rem;
$input-border-radius: 0;
$input-bg: transparent;
$input-box-shadow: none;
$input-border-radius: 0;
$input-color: #fff;
$input-border-color: theme-color(secondary);
$input-focus-bg: transparent;
$input-focus-border-color: theme-color(secondary);
$input-focus-color:  #fff;
$input-focus-box-shadow: none;
$input-placeholder-color: #fff;
$input-plaintext-color: #fff;
$headings-margin-bottom: 1rem;
