footer {

  background-color: theme-color(secondary);
  overflow: hidden;

  .container-fluid > .row:first-child {
    padding: cl(30px, 90px) 0 cl(5px, 60px);
  }

  * {
    color: #fff;
  }

  .menu-item {
    margin-bottom: cl(7px, 18px);
  }

  .copyright {
    padding: cl(15px, 50px) 0 cl(15px,50px);
    p {
      margin-bottom: 0;
    }
    position: relative;
    &::before {
      content: '';
      width: 200vw;
      height: 1px;
      background: #fff;
      position: absolute;
      left: -50vw;
      bottom: 100%;
    }
  }


  .nav {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(md){
      grid-template-columns: 1fr 1fr;
    }

    justify-content: end;
  }
}

.grecaptcha-badge {
  display: none;
}
