.primary-nav, #navbarNav  {
  padding: cl(15px, 35px) 0 cl(20px, 35px);
}

.secondary-nav {
  padding: cl(5px, 10px) 0;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.custom-logo {
  width: 245px;
  height: auto;
}

.nav-secondary {
  .menu-item {
    @extend .mx-3;
  }
}

.search-form i {
  font-size: 22px;
  color: theme-color(gray);
}

header {
  .container-fluid {
    @extend .position-relative;
  }

  @extend .position-relative;
}

.secondary-nav {
   a img {
    margin-right: cl(7px, 15px);
  }

   a:first-child {
     margin-right: cl(7px, 15px);
  }
}

.nav-link, .banner .nav a {
  padding: 0.5rem 1.3rem;
}



@include media-breakpoint-down(md){
  .navbar-toggler[aria-expanded=false]{
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='34.0013' height='2.15809' fill='%2352267A'/%3E%3Crect y='22.6599' width='34.0013' height='2.15809' fill='%2352267A'/%3E%3Crect y='11' width='34.0013' height='2.15809' fill='%2352267A'/%3E%3C/svg%3E%0A");
    }
  }

  .navbar-toggler[aria-expanded=true]{
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='38' height='27' viewBox='0 0 38 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.40761' y1='26.1943' x2='35.4076' y2='1.19435' stroke='%2352267A' stroke-width='2'/%3E%3Cline y1='-1' x2='42.2019' y2='-1' transform='matrix(-0.805651 -0.59239 -0.59239 0.805651 36 27)' stroke='%2352267A' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
  }

  .navbar-toggler {
    z-index: 9;
    outline: 0;
  }
  .navbar-toggler:focus-visible {
    border: 0;
    outline: 0;
  }


  #navbarNav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: theme-color(secondary);
  }

  #menu-primary-menu {
    margin-top: 20vw;
    flex-direction: column;
    align-items: center;

  }
  #menu-primary-menu a {
    font-size: 18px;
    line-height: 30px;
  }

}

@include media-breakpoint-up(lg){
  .nav > .menu-item:last-child a {
    padding-right: 0 !important;
  }
}


.brand img {
  width: cl(144px, 328px);
  min-width: 144px;
}

.nav-link, .banner .nav a, .banner .nav a {
  padding: 0.5rem 7px;
}

@include media-breakpoint-up(xl){
  .nav-link, .banner .nav a, .banner .nav a {
    padding: 0.5rem cl(7px, 20px);
  }
}

@include media-breakpoint-up(lg){
  header .brand img{
    margin-bottom: 10px;
  }
}

button {
  outline: none;
}
.navbar-toggler {
  outline: none !important;
}
